{% extends 'base.html' %}

{% block title %}
Admin - Digital Certificate
{% endblock %}

{% block style %}
<style>
    #block {
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: white;
        border-radius: .5rem;
        padding: 20px;
        transition: 0.3s;
    }

    #block label{
        text-align: center;
    }

    #block:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }

    #form {
        margin-bottom: 50px;
    }

    .rule {
        margin-bottom: 20px;
        /* text-align: center; */
    }
</style>
{% endblock %}

{% block content %}
<div class="container-lg" id="block">
    <form class="form-block" id="form" enctype="multipart/form-data">
        <div class="mb-3 row">
            <label for="files" class="col-sm-2 col-form-label">Please Select Files</label>
            <div class="col-sm-3">
                <input class="form-control" type="file" id="files" name="files" accept=".pdf" multiple>
            </div>

            <label for="date-input" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-3">
                <input class="form-control" type="date" id="date-input" name="date"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="請輸入活動日期">
            </div>
            <div class="col-sm-2"></div>
        </div>

        <input type="hidden" name="attributes" id="attributes">

        <div class="mb-3 row rule"> <!-- Combine the class attributes into a single attribute -->
            <label class="col-sm-2 col-form-label">Attribute Name(English Only)</label>
            <div class="col-sm-3">
                <input class="form-control name-input" type="text" value="Issuer">
            </div>

            <label class="col-sm-2 col-form-label">Value</label>
            <div class="col-sm-3">
                <input class="form-control value-input" type="text">
            </div>

            <div class="col-sm-2">
                <button class="btn btn-danger delete-btn" type="button">Delete</button>
            </div>
        </div>

        <div class="mb-3 row rule"> <!-- Combine the class attributes into a single attribute -->
            <label class="col-sm-2 col-form-label">Attribute Name(English Only)</label>
            <div class="col-sm-3">
                <input class="form-control name-input" type="text" value="Activity">
            </div>

            <label class="col-sm-2 col-form-label">Value</label>
            <div class="col-sm-3">
                <input class="form-control value-input" type="text">
            </div>

            <div class="col-sm-2">
                <button class="btn btn-danger delete-btn" type="button">Delete</button>
            </div>
        </div>
    </form>

    <div class="mb-3 row">

        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <button class="btn btn-light" id="add-attr-btn" style="height: 3rem;">Add an attribute</button>
        </div>
        <div class="col-sm-2">
            <!-- The rolling uploading spinner looks like meme :P. Hope you like it too-->
            <button type="button" class="btn btn-primary" id="upload-btn" style="height: 3rem;">
                Upload
            </button>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-12" style="text-align: center;">
            <p>After uploading files successfully, please refresh to view your files below</p>
        </div>
    </div>
    <div class="mb-3 row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Folder</th>
                <th scope="col">Filename</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                    {% for file in uploaded_files %}
                      <tr id="file-{{ file['id'] }}">
                        <th scope="row">{{ file['id'] }}</th>
                        <td>{{ file['upload_date'] }}</td>
                        <td><a href="/admin/download?folder={{file['upload_date']}}&filename={{file['filename']}}">{{ file['filename'] }}</a></td>
                        <td><button type="button" class="btn btn-danger" onclick="deleteFile({{ file['id'] }}, `{{ file['upload_date']}}`, `{{ file['filename']}}` )">Delete</button></td>
                      </tr>
                    {% endfor %}
            </tbody>
          </table>
    </div>

</div>

<div class="modal " tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <!--- <h5 class="modal-title" id="modal-title"></h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="modal-message">Modal body text goes here.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
    // Define deleteBtnOnClick as a regular function
    function deleteBtnOnClick(event) {
        event.preventDefault();
        // console.log('delete');
        $(this).parent().parent().remove();
    }

    $('#add-attr-btn').click(function(event) {
        event.preventDefault();

        // Append the new attribute row with delete button
        $('#form').append(`
            <div class="mb-3 row rule">
                <label class="col-sm-2 col-form-label">Attribute Name(English Only)</label>
                <div class="col-sm-3">
                    <input class="form-control name-input" type="text">
                </div>

                <label class="col-sm-2 col-form-label">Value</label>
                <div class="col-sm-3">
                    <input class="form-control value-input" type="text">
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-danger delete-btn" type="button">Delete</button>
                </div>
            </div>
        `);

        // Attach click event to the new delete button
        $('.rule:last').on('click', '.delete-btn', deleteBtnOnClick);
    });

    // Attach initial click event to the delete buttons
    $('.rule').on('click', '.delete-btn', deleteBtnOnClick);

    

    function collectAttributes() {
        var attributes = [];        

        $('.rule').each(function() {
            attributes.push({
                name: $(this).find('.name-input').val(),
                value: $(this).find('.value-input').val()
            })

        })

        return attributes;
    }

    var uploadFunction = (event)=>{
        var attrs = collectAttributes();
        console.log(attrs)
        $('#attributes').val(JSON.stringify(attrs));
        $('#upload-btn').attr('disabled', true);
        $('#upload-btn').empty();
        $('#upload-btn').html(
            `
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="spinner-border" role="status">
                    Upload
                    <span class="visually-hidden">Loading...</span>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            `
        )

        var formData = new FormData(document.getElementById('form'));
        fetch('/admin/upload', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok){
                return response.json();
            }else if (response.status === 400){
                return response.json();
            }else if (response.status === 413){
                throw new Error("The files are too large(Max : 10MB). You may upload files separartely.");
            }else if (response.status === 500){
                return response.json();
            }else{
                throw new Error("Network response is not ok"); 
            }
        }).then(function (_data){
            const _status = _data['status']
            const _message = _data['message']
            if (_status === 'success') {
                // alert('上傳成功');
                $('#modal-message').text('上傳成功');
                $('.modal').modal('show');
            } else if(_status){
                // alert('上傳失敗');
                // console.log(data.message);
                $('#modal-message').text('Failed to upload since ' + _message);
                $('.modal').modal('show');
            }

            $('#upload-btn').attr('disabled', false);
            $('#upload-btn').empty();
            $('#upload-btn').html('Upload');
        }).catch(error => {
            console.log('Error:', error.message);
            $('#modal-message').text(error.message)
            $('.modal').modal('show');
        });
    }
    $('#upload-btn').click(uploadFunction)

    function deleteFile(id, folder, filename){
        fetch('/admin/delete', {
            method: 'POST',
            body: JSON.stringify({
                id: id,
                folder: folder,
                filename: filename
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok){
                return response.json();
            }else if (response.status === 400){
                return response.json();
            }else if (response.status === 500){
                return response.json();
            }else{
                throw new Error("Network response is not ok"); 
            }
        }).then(function (_data){
            const _status = _data['status']
            const _message = _data['message']
            if (_status === 'success') {
                // alert('上傳成功');
                $('#modal-message').text('刪除成功');
                $('.modal').modal('show');
                document.getElementById('file-' + id).remove();
                // setTimeout(function(){ location.reload(); }, 2000)
                // location.reload();
            } else if(_status){
                // alert('上傳失敗');
                // console.log(data.message);
                $('#modal-message').text('Failed to delete since ' + _message);
                $('.modal').modal('show');
            }
        }).catch(error => {
            console.log('Error:', error.message);
            $('#modal-message').text(error.message)
            $('.modal').modal('show');
        })
    }
</script>
{% endblock %}

