{% extends 'base.html' %}

{% block title %}
  Digital Certificate
{% endblock %}

{% block style %}
<style>
    .form-block {
        border-radius: .5rem;
        padding-top: 2rem;
        padding-bottom: .5rem;
        background-color: white;
        transition: 0.3s;
        margin-top: 50px; 
        margin-bottom: 2rem; 
      }

      .form-block:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
      }

      

      .text-muted {
        color: white;
      }

      .single{
        padding-top: 1.5rem;
      }

      @media (max-width: 570px) {
        .single {
          padding-top: 0rem;
        }
      }
</style>
{% endblock %}


{% block content %}
<div class="container-lg" id="varification-block">
    <div class="row">
      <div class="col" id="upload">
        <form class="form-block" id="upload-form">
          
          <div class="container-lg">
            <div class="row">
              <div class="col-sm-3" style="padding: 8px;">
                <label for="formFile" class="form-label">驗證您的證書:</label><br>
              </div>

              <div class="col-sm-6">
                <input class="form-control" type="file" id="file" name="file" accept=".pdf"><br><br>
              </div>

              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary mb-3">上傳</button>
              </div>
            </div>
          </div>


        </form>
      </div>
    </div>

    <div class="row">
      <div class="col" id="download">
        <form class="form-block" id="download-form" method="POST">
          <div class="container-lg">
            <div class="row">
              <div class="col-sm-3 single">
                <label for="formFile" class="form-label">下載您的證書:</label><br>
              </div>


              <div class="col-sm-3">
                <label for="name-input">名字</label>
                <input class="form-control" type="text" id="name-input" name="name" placeholder="請輸入您的名字"><br><br>
              </div>

              <div class="col-sm-3">
                <label for="name-input">活動日期</label>
                <input class="form-control" type="date" id="date-input" name="date"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="請輸入活動日期"><br><br>
              </div>

              <div class="col-sm-3 single">
                <button type="submit" class="btn btn-primary mb-3" id="download-btn">下載</button>
              </div>

            </div>

            <div class="row collapse" id="file-download-area" >
              <div class="col text-center" id="files">
                
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  
  <div class="modal fade" tabindex="-1" id="varification-result-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Authentication Result</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="result"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
    function onSubmit(event) {
      event.preventDefault();
      grecaptcha.ready(function() {
        grecaptcha.execute('{{ site_key }}', { action: 'submit' }).then(function(token) {

          var formData = new FormData(document.getElementById('download-form'));
          formData.append('recaptcha_token', token);

          fetch('/api/search', { method: 'POST', body: formData })
            .then(response => response.json())
            .then(value => {
              console.log(value)
              if (value.message === 'ok') {
                // Fix id-input and date-input
                
                $('#files').empty();
                for(var i = 0; i < value.tokens.length; ++i){
                  var token = value.tokens[i];
                  var url = '/api/download?token=' + token;
                  $('#files').append(
                    `<p id="file-section"> <a href=${url} class="file-link">
                        <img src="/static/pdf.png" style="width: 20px; height: 20px;"alt="">
                        ${value.filenames[i]}
                      </a>
                    </p>
                    `
                  )
                }

                $('#file-download-area').collapse('show');
              }else if (value.message === 'file not found'){
                alert('Oops! 找不到您的證書QQ');
              }else if (value.message === 'recaptcha failed'){
                alert('Oops! reCAPTCHA 驗證失敗，請試試看重新整理網頁');
              }else{
                alert('Oops! 您輸入的資料有錯喔');
              }
            });
        });
      });
    }

    // Trigger onSubmit function when the reCAPTCHA submit button is clicked
    document.querySelector('#download-btn').addEventListener('click', onSubmit);

    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    document.getElementById('upload-form').addEventListener('submit', function(event) {
      event.preventDefault();
      grecaptcha.ready(function() {
        grecaptcha.execute('{{ site_key }}', { action: 'submit' }).then(function(token) {
          var formData = new FormData(event.target);
          formData.append('recaptcha_token', token);
          fetch('/api/upload', {method: 'POST', body: formData})
          .then(response => {
            if (response.status === 200){
              return response.json();
            }else if(response.status === 413){
              throw new Error('您的檔案太大囉');
            }else{
              throw new Error('Oops! reCAPTCHA 驗證失敗，請試試看重新整理網頁')
            }
          })
          .then(res => {
            console.log(res)
            document.getElementById('modal-title').textContent = "驗證結果"
            if(res.message === 'successful'){
              document.getElementById('result').textContent = `此證書為${res.info.Issuer}所發行於${res.info.IssuedTime}所發出關於「${res.info.Activity}」之證明`;
            }else{
              document.getElementById('result').textContent = `此非本單位所發出之有效證書`
            }
            $('#varification-result-modal').modal('show');
          }).catch(error => {
            document.getElementById('modal-title').textContent = "Warning" 
            document.getElementById('result').textContent = error.message;
            $('#varification-result-modal').modal('show');
          })
        });
      });
    });
</script>

{% endblock %}
