<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digital Certificate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->

    

    <style>
      
      body{
        background-color: rgba(245, 247, 250, 1);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .form-block {
        border-radius: .5rem;
        padding-top: 50px;
        background-color: white;
        transition: 0.3s;
        margin-top: 50px; 
        margin-bottom: 2rem; 
      }

      .form-block:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
      }

      .footer {
        background-color: white;
        padding: 20px 0;
        text-align: center;
        margin-top: auto;
      }

      .text-muted {
        color: white;
      }
    </style>
  </head>
<body>

  <nav class="navbar" style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Digital Certificate</a>
    </div>
  </nav>

  <div class="container-lg" id="varification-block">
    <div class="row">
      <div class="col" id="upload">
        <form class="form-block" id="upload-form">
          
          <div class="container-lg">
            <div class="row">
              <div class="col-sm-3" style="padding: 8px;">
                <label for="formFile" class="form-label">驗證您的證書:</label><br>
              </div>

              <div class="col-sm-6">
                <input class="form-control" type="file" id="file" name="file" accept=".pdf"><br><br>
              </div>

              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary mb-3">上傳</button>
              </div>
            </div>
          </div>


        </form>
      </div>
    </div>

    <div class="row">
      <div class="col" id="download">
        <form class="form-block" id="download-form" method="POST">
          <div class="container-lg">
            <div class="row">
              <div class="col-sm-3" style="padding: 8px;">
                <label for="formFile" class="form-label">下載您的證書:</label><br>
              </div>

              <div class="col-sm-2">
                <input class="form-control" type="text" id="school-input" name="school" placeholder="請輸入您的學校"><br><br>
              </div>

              <div class="col-sm-2">
                <input class="form-control" type="text" id="name-input" name="name" placeholder="請輸入您的名字"><br><br>
              </div>

              <div class="col-sm-2">
                <input class="form-control" type="date" id="date-input" name="date"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="請輸入活動日期"><br><br>
              </div>

              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary mb-3" id="download-btn">下載</button>
              </div>

            </div>

            <div class="row collapse" id="file-download-area" >
              <div class="col text-center" id="files">
                
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  
  <div class="modal fade" tabindex="-1" id="varification-result-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Authentication Result</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="result"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 Digital Certificate All rights reserved.</p>
      <p>Created by Yu-Chun Lin | Contact: <a href="mailto:ostrich-gists-00@icloud.com">ostrich-gists-00@icloud.com</a></p>
      <p>Attribute: <a href="https://www.flaticon.com/free-icons/pdf" title="pdf icons">Pdf icons created by Dimitry Miroliubov - Flaticon</a></p>
    </div>
  </footer>
  
  

  
  <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
  <script>
    function onSubmit(event) {
      event.preventDefault();
      grecaptcha.ready(function() {
        grecaptcha.execute('{{ site_key }}', { action: 'submit' }).then(function(token) {

          var formData = new FormData(document.getElementById('download-form'));
          formData.append('recaptcha_token', token);

          fetch('/api/search', { method: 'POST', body: formData })
            .then(response => response.json())
            .then(value => {
              console.log(value)
              if (value.message === 'ok') {
                // Fix id-input and date-input
                
                $('#files').empty();
                for(var i = 0; i < value.tokens.length; ++i){
                  var token = value.tokens[i];
                  var url = '/api/download?token=' + token;
                  $('#files').append(
                    `<p id="file-section"> <a href=${url} class="file-link">
                        <img src="/static/pdf.png" style="width: 20px; height: 20px;"alt="">
                        ${value.filenames[i]}
                      </a>
                    </p>
                    `
                  )
                }

                $('#file-download-area').collapse('show');
              }else if (value.message === 'file not found'){
                alert('Oops! 找不到您的證書QQ');
              }else if (value.message === 'recaptcha failed'){
                alert('Oops! reCAPTCHA 驗證失敗，請試試看重新整理網頁');
              }
            });
        });
      });
    }

    // Trigger onSubmit function when the reCAPTCHA submit button is clicked
    document.querySelector('#download-btn').addEventListener('click', onSubmit);
  </script>

<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

document.getElementById('upload-form').addEventListener('submit', function(event) {
  event.preventDefault();
  var formData = new FormData(event.target);
  fetch('/api/upload', {method: 'POST', body: formData})
  .then(response => response.json())
  .then(res => {
    document.getElementById('result').textContent = res.message
    $('#varification-result-modal').modal('show');
  });
});


</script>

</body>
</html>
